@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Montserrant', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
}

.title{
    color: #90B5F5;
    margin: 20vh auto;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(5vw + 20px);
    text-shadow: 0 0 10px black,
                 0 0 10px black,
                 0 0 10px black;
}

.container{
    width: 90vw;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}
.key{
    display: flex;
    width: 110px;
    height: 110px;
    align-items: center;
    justify-content: center;
    background-color: #000000BB;
    color: #90B5F5;
    font-size: calc(3vw + 20px);
    border: 3px solid #90B5F5;
    border-radius: 2rem;
    user-select: none;
    cursor: pointer;
    transition: transform .2s;
}

.active{
    transform: scale(1.3);
    border-color: #90B5F5;
    box-shadow: 0 0 50px #90B5F5;
}